.flo{
    float: right;
}
.img-class{
    width: 1343px;
    height: 500px;
}
body{
    background-color: rgb(27, 25, 25);
}
.ccc{
    text-align: justify;
    color: aliceblue;
}
.tam{
    width: 40px;
}
.tam2{
    height: 600px;
}
h1 {
    text-align: center;
    color: aliceblue;
}
.m{
    margin-top: 25px;
}